.footer-list__item {
  text-align: center;
  &:last-child {
    margin-top: 8px;
  }

  &--current a {
    color: $color-sun;
  }
}

.footer-list__link,
.footer-list__item a {
  display: block;
  text-decoration: none;
  line-height: 34px;
  font-size: 14px;
  text-align: center;
  color: $white;

  &:hover {
    color: $color-sun;
  }
}

@media (min-width: $laptop-width) {
  .footer-list__item {

    &:last-child {
      margin-top: -5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer-list {
    display: flex;
    flex-wrap: wrap;
    min-width: 840px;
  }

  .footer-list__item {
    min-width: 190px;
    margin-right: 40px;

    &:last-child {
      margin-top: 0;
    }

    &--current a {
      color: $color-sun;
    }
  }

  .footer-list__link,
  .footer-list__item a {
    padding: 5px;
    display: flex;
  }


  .current-menu-item a {
    color: $color-sun;
  }

  .footer-list .current-menu-item,
  .footer-list .current-menu-item a {
    &::before {
      display: none;
    }
  }
}
