.heading__title {
  margin: 0 0 33px;
  padding: 0 0 0 10px;
  // margin: 0 0 17px;
  // padding: 3px 0 0 37px;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  line-height: 54px;
  font-size: 42px;
  letter-spacing: 0.05em;

  &--methods {
    line-height: 56px;
    margin: 0 0 70px;
    letter-spacing: 0.02em;
  }

  &--students {
    letter-spacing: 0.01em;
    line-height: 53px;
    margin: 0 0 44px;
  }
}

.heading__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .heading__wrap {
    padding: 0;
  }

  .heading__title {
    margin-bottom: 80px;
    padding-left: 74px;

    line-height: 76px;
    font-size: 64px;
    letter-spacing: 0.05em;

    &--students {
      padding-left: 21px;
      line-height: 84px;
      margin-bottom: 65px;
      margin-top: -8px;
    }

    &--projects {
      padding-left: 82px;
      line-height: 63px;
      margin: 0 0 65px;
    }

    &--methods {
      padding-left: 83px;
      line-height: 85px;
      margin: -10px 0 104px;
    }
  }
}

@media (min-width: $laptop-width) {
  .heading__title {
    margin-bottom: 95px;
    padding-left: 94px;

    &--students {
      padding: 26px 0 0 105px;
      line-height: 84px;
      margin-bottom: 65px;
      margin-top: 0;
    }
    &--projects {
      padding: 26px 0 0 105px;
      line-height: 63px;
      margin: 0 0 116px;
    }

    &--methods {
      padding: 25px 0 0 106px;
      line-height: 85px;
      margin: -10px 0 97px;
    }
  }
}

@media (min-width: $desktop-width) {
  .heading__wrap {
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 1146px;
    padding: 42px 0px 20px;

    &--reverse {
      position: relative;
      margin: 0 auto;
      box-sizing: border-box;
      display: block;
      width: auto;
      max-width: 1440px;
      padding: 42px 20px 20px 337px;
    }
  }

  .heading__logo {
    display: block;
    min-width: 60px;
    margin: 46px 0 0;
    text-align: right;

    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 900;
    line-height: 22px;
    font-size: 18px;

    &--reverse {
      margin: 0;
      position: absolute;
      top: 85px;
      left: 142px;
    }

  }

  .heading__title {
    display: block;
    margin: 0 0 75px 0;
    padding: 0;

    &--students {
      margin-bottom: 29px;

    }
  }
}
