.members__wrapper{
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 28px;
  max-width: 1440px;
}

.members__profile {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
}

.members__photo,
.members__about,
.members__image {
  display: block;
  width: 264px;
  height: 264px;
  flex-shrink: 0;
}

.members__about {
  box-sizing: border-box;
  border: 1px solid $color-sun;
  // display: none;
  padding: 17px 20px 8px 24px;
}

.members__name {
  margin: 0;
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
  text-align: center;
}

.members__degree {
  margin: 0 0 14px;
  font-style: italic;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}

.members__text {
  margin: 0;
  line-height: 16px;
  font-size: 12px;
  position: relative;
  padding: 23px 0 0 10px;

  &--more {
    letter-spacing: -0.04em;
    padding-top: 20px;
    padding-left: 4px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 77px;
    height: 2px;
    top: 0;
    left: 66px;
    background: $color-sun;
    border-radius: 3px;
  }
}

.members__slider {
  box-sizing: border-box;
  width: 36px;
  height: 10px;
  padding-top: 5px;
  margin: 19px auto 65px;
}

@media (min-width: $tablet-width) {
  .members__wrapper {
    padding: 0 84px;
  }

  .members__item {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;

    &:nth-child(2n) .members__profile {
      flex-direction: row-reverse;
    }
  }

  .members__profile {
    margin-left: -72px;
    flex-direction: row;
    align-items: flex-start;
  }

  .members__photo,
  .members__about {
    margin-left: 72px;
  }

  .members__about {
    display: block;
  }

  .members__slider {
    display: none;
  }
}

@media (min-width: $laptop-width) {
  .members__wrapper {
    margin: 0 auto 80px;
    padding: 0 213px;
  }
}

@media (min-width: $desktop-width) {
  .members__wrapper {
    padding: 0;
  }

  .members__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 86px;
    margin-left: -30px;
  }

  .members__item {
    display: block;
    margin-bottom: 164px;

    &:last-child {
      margin-left: 41%;
      margin-bottom: 0;
    }

    &:nth-child(2n) .members__profile {
      flex-direction: row;
    }

    &:nth-child(4n) .members__profile,
    &:nth-child(4n-1) .members__profile {
      flex-direction: row-reverse;
    }
  }

  .members__profile {
    margin-left: 0;
  }

  .members__photo,
  .members__about {
    margin-left: 30px;
  }

  .members__image {
    width: 264px;
    height: 264px;
  }

  .members__paragraph {
    padding-left: 20px;
    margin: -123px 0 119px 126px;
  }
}
