.methods__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 9px;
}

.methods__list {
  display: block;
  margin-bottom: 83px;
}
.methods__item {
  display: block;
}

.methods__number {
  display: block;
  text-align: center;
  width: 49px;
  padding: 0 0 0 13px;
  margin: 0 auto;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  line-height: 43px;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: $color-sun;
}

.methods__profile {
  position: relative;
  display: block;
  width: 100%;
  max-width: 460px;
}

.methods__authors{
  margin: 0;
  padding: 5px 0 11px;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
}

.methods__title{
  margin: 0;
  padding: 11px 0 25px;
  font-style: italic;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  font-weight: 400;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 77px;
    height: 2px;
    top: 0;
    left: calc(50% - 38px);
    background: $color-sun;
    border-radius: 3px;
  }
}

.methods__link {
  display: block;
  width: 194px;
  padding: 20px;
  text-align: center;
  margin: 0 auto 48px;

  &:hover,
  &:focus {
    color: $color-sun;
  }

  &:active {
    background-color: rgba($color-sunlight, 0.3);
  }
}

.methods__picture {
  display: none;
}

.methods__paragraph {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .methods__wrapper {
    padding: 0 74px;
  }

  .methods__list {
    margin-bottom: 44px;
  }

  .methods__item {
    display: flex;
    justify-content: center;
  }

  .methods__profile {
    position: relative;
    display: block;
    width: 460px;
  }

  .methods__number {
    display: inline-block;
    text-align: center;
    width: 49px;
    height: 59px;
    padding: 0 0 8px 0;
    margin: -15px 58px 0 0;

    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    line-height: 43px;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: $color-sun;
  }

  .methods__title{
    margin: 0;
    padding: 11px 0 25px;
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 77px;
      height: 2px;
      top: 0;
      background: $color-sun;
      border-radius: 3px;
    }
  }

  .methods__link {
    display: block;
    width: 194px;
    padding: 20px;
    text-align: center;
    margin: 0 auto 73px;
  }
}

@media (min-width: $laptop-width) {
  .methods__wrapper {
    padding: 0 81px 0 94px;
  }

  .methods__list {
    margin-bottom: 63px;
  }

  .methods__picture {
    display: block;
    width: 275px;
    height: 399px;
    margin-top: 140px;
  }
}

@media (min-width: $desktop-width) {
  .methods__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 147px 12px 135px;
  }

  .methods__list {
    margin-bottom: 8px;
  }

  .methods__item {
    display: flex;
    justify-content: flex-start;
  }

  .methods__number {
    display: inline-block;
    width: 49px;
    height: 59px;
    padding: 0 0 8px 0;
    margin: -15px 62px 0 0;

    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    line-height: 43px;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: $color-sun;
  }

  .methods__profile {
    position: relative;
    display: block;
    width: 460px;
  }

  .methods__authors{
    margin: 0;
    padding: 5px 0 11px;
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .methods__title{
    margin: 0;
    padding: 11px 0 25px;
    font-style: italic;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    font-weight: 400;
  }

  .methods__link {
    display: block;
    width: 194px;
    padding: 20px;
    text-align: center;
    margin: 0 auto 73px;

    &:hover {
      color: $color-sun;
    }
  }

  .methods__picture {
    display: block;
    margin: 98px 0 0;
    width: 353px;
    height: 513px;
  }

  .methods__paragraph {
    display: block;
    margin: 0 auto 53px;
    width: 1146px;
    padding-left: 0;
  }
}
