.nav-toggle {
  display: block;
  position: absolute;
  left: 19px;
  top: 10px;
  width: 60px;
  height: 60px;
  border: none;
  background: transparent;

  z-index: 999;

  &:focus {
    outline-color: transparent;
  }
  &--off {
    display: none;
  }
  &--on {
    display: block;
    background-image: url(../img/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  &--close {
    background-image: url(../img/icon-close.svg);
  }
}

@media (min-width: $tablet-width) {
  .nav-toggle {
    display: none;
  }
}
