.post__wrapper {
  max-width: 1146px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.post__wrapper h1 {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  line-height: 36px;
  font-size: 32px;
  letter-spacing: 0.05em;
  padding-bottom: 50px;
}

.post__date {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}

.post__date span {
  font-weight: 700;
}

