@keyframes stretching {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: -77px;
    width: 77px;
  }
}

.site-list {
  display: block;
  box-sizing: border-box;

  &--off {
    display: none;
  }

  &--on {
    display: block;
  }

   &--js {
    display: block;
    position: absolute;
    content: "";
    top: 66px;
    left: 20px;
    width: 281px;
    height: 454px;
    background: $white;
    border-radius: 10px;
    z-index: 5;
    padding: 20px 0;
    }
}


.site-list__item {

  &--current a {
    color: $color-sun;
    display: inline-block;

      &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 8px;
      left: 30px;
      width: calc(100% - 30px);
      height: 2px;
      background: $color-sun;
      border-radius: 3px;
    }
  }
}

.site-list__link {
  display: inline-block;
  position: relative;
  padding: 18px 0 11px 30px;

  text-align: left;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: $white;

  &:active
  &:focus-within {
    background-color: transparent;
    outline: 2px solid $color-sun;
  }

  &--js {
    font-size: 18px;
    line-height: 28px;
    color: $black;

      &:hover {
        color: $color-sun;
      }
    }
  }



@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &--off {
      display: none;
    }

    &--on {
      display: flex;
    }

    &--js {
      display: block;
    }
  }
}

@media (min-width: $laptop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &--off {
      display: none;
    }

    &--on {
      display: flex;
    }

    &--js {
      display: block;
      top: 100px;
      left: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: block;
  }

  .site-list__item {
    &--current a {
      color: $color-sun;

      &::before {
        display: none;
      }
    }

    &:hover{
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        left: -77px;
        width: 77px;
        height: 2px;
        background: $color-sun;
        border-radius: 3px;

        animation-name: stretching;
        animation-duration: 0.5s;
      }
    }

    &--current {
      position: relative;

      &:hover:not([href]) {

        &::before {
        animation-name: none;
      }
    }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        left: -77px;
        width: 77px;
        height: 2px;
        background: $color-sun;
        border-radius: 3px;
      }
    }
  }

  .site-list__link {
    display: block;
    padding: 10px 15px 9px;

    text-align: left;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: $black;
  }
}
