@keyframes stretching {
  0% {
    left: 0;
    width: 0;
  }
  100% {
    left: -77px;
    width: 77px;
  }
}

.site-list {
  display: none;

  // outline: 1px solid pink;
  // position: absolute;
  // top: 10px;
  // left: 10px;
  // display: block;
  // width: 281px;
  // height: 454px;
  // background: $white;
  // border-radius: 10px;
  // z-index: 5;
  // outline: pink;
}

.site-list__item {

  &--current a {
    color: $color-sun;
  }

  &--current {
    position: relative;

    // &::before {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 45%;
    //   left: -77px;
    //   width: 77px;
    //   height: 2px;
    //   background: $color-sun;
    //   border-radius: 3px;
    // }
  }
}

.site-list__link {
  display: block;
  padding: 10px 15px 9px;

  text-align: left;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: $black;
}


@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
  .site-list {
    display: block;
  }

  .site-list__item {
    &--current a {
    color: $color-sun;
    }

    &:hover{
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        left: -77px;
        width: 77px;
        height: 2px;
        background: $color-sun;
        border-radius: 3px;

        animation-name: stretching;
        animation-duration: 0.5s;
      }
    }

    &--current {
      position: relative;

      &:hover:not([href]) {

        &::before {
        animation-name: none;
      }
    }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 45%;
        left: -77px;
        width: 77px;
        height: 2px;
        background: $color-sun;
        border-radius: 3px;
      }
    }
  }

  .site-list__link {
    display: block;
    padding: 10px 15px 9px;

    text-align: left;
    text-decoration: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: $black;
  }
}
