.tasks__wrap {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  display: block;
  padding: 0;
  position: relative;
  height: 100%;
}

.tasks__wrapper {
  display: block;
  box-sizing: border-box;
  position: relative;
}

.tasks__picture {
  margin: 0 0 58px;
}

.tasks__image {
  display: block;
  margin: 0 auto;
  width: 162px;
  height: 137px;
}

.tasks__swiper-slide {
  box-sizing: border-box;
  padding: 0 35px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 65px;
  flex-shrink: 0;
  transition-property: transform;
}

.tasks__pagin {
  display: flex;
  justify-content: space-between;

  position: absolute;
  left: calc(50% - 57px);
  bottom: 35px;
  width: 114px;
  height: 10px;
  z-index: 20;
}

.tasks__toggle {
  display: block;
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background-color: $grey;
  &--current {
    background-color: $color-sun;
  }
}

.tasks__toggle span {
  display: none;
}

.tasks__title {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: $black;
  background-color: $white;
}

.tasks__number {
  display: inline-block;
  padding: 5px 0 8px 5px;

  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  line-height: 43px;
  font-size: 36px;
  letter-spacing: 0.05em;
  color: $color-sun;
}

.tasks__text {
  margin: 0;
  font-style: italic;
  line-height: 21px;
}


@media (min-width: $tablet-width) {
  .tasks__wrap {
    padding: 0 0 54px 86px;
  }

  .tasks__picture {
    display: none;
    margin: 0;
  }

  .tasks__swiper-slide {
    padding: 0 15px 0 0;
  }

  .task__toggle {
    width: 12px;
    height: 12px;
  }

  .tasks__title {
    padding-left: 86px;

    text-align: left;
    margin-bottom: 10px;
  }

  .tasks__item {
    display: block;
  }

  .tasks__number {
    padding: 0 0 12px 0;
  }

  .tasks__pagin {
    left: calc(50% - 35px);
    bottom: 50px;
    width: 70px;
    height: 12px;
  }

  .tasks__text {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: $laptop-width) {
  .tasks__wrap {
    padding-left: 106px;
  }

  .tasks__title {
    margin-bottom: 34px;
  }

  .tasks__text {
    line-height: 18px;
    font-size: 14px;
  }

  .task__toggle {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: $desktop-width) {
  .tasks__wrap {
    padding: 0 132px 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 92px;
  }

  .tasks__wrapper {
    width: 309px;
    min-height: 305px;
  }

  .tasks__picture {
    display: block;
    margin: 0 auto 8px 0;
  }

  .tasks__image {
    display: block;
    width: 232px;
    height: 197px;
  }

  .tasks__pagin {
    display: block;
    position: static;
    margin: 0;
    height: auto;
    width: auto;
    padding: 0;
    margin-right: 30px;
    align-self: flex-start;
  }

  .tasks__swiper-slide {
    margin-bottom: 10px;
    padding: 65px 0 0 35px;
  }

  .tasks__toggle {
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid transparent;
    padding: 2px;
    padding-bottom: 7px;
    box-sizing: border-box;
    width: 36px;
    height: 50px;
    background-color: transparent;

    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    line-height: 36px;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: $color-sun;
    margin-bottom: 10px;
    border-radius: 0;

    &:focus,
    &:hover {
      outline-color: transparent;
      border-bottom: 2px solid $color-sunlight;
    }

    &--current {

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -2px;
        left: 0;
        background: $color-sun;
        border-radius: 3px;
      }
    }
  }

  .tasks__toggle span {
    display: inline;
  }

  .tasks__number {
    display: none;
  }

  .tasks__title {
    padding: 10px 0 0 30px;
    margin-bottom: 14px;
  }

  .tasks__text {
    line-height: 21px;
    font-size: 16px;
  }
}

