.button {
  display: block;
  margin: 0;
  padding: 18px;
  box-sizing: border-box;
  // width: 306px;
  border: 2px solid $color-sun;
  background: transparent;

  text-align: center;
  text-decoration: none;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 900;
  line-height: 19px;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: $black;

  // &:hover {
  //   color: $white;
  //   background-color: $greyish-dark;
  // }

  // &:active {
  //   color: rgba($white, 0.3);
  //   background-color: $greyish-dark;
  // }
}
