/*colors*/

/*monochrom   dark-to-light*/

$reddish-dark: #2F251D;
$brown: #4D4035;

$grey-border: #c6c6c6;
$grey: #c4c4c4;
$color-light: #62d1ba;

$black: #000000;

$white: #ffffff;
$color-sundark: #be9b38;
$color-sun: #d0ad4a;
$color-sunlight: #e7d6a4;


/*break-points*/

$mobile-only-width: 767px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
