/*colors*/

/*monochrom   dark-to-light*/


// $very-dark: #010000;
// $very-dark1: #000101;
$reddish-dark: #2F251D;
$brown: #4D4035;
// $dark: #283645;
// $greyish-dark: #444444;

$grey-border: #c6c6c6;
$grey: #c4c4c4;
// $grey-under: #e5e5e5;
// $grey-white: #ececec;
// $greyish-white: #f1f1f1;
// $mild-white: #f9f9f9;
// $white: #ffffff;

/*colored   dark-to-light*/



// $color-dark: #149080;
// $color-middle2: #46c1ae;
// $color-middle1: #56c3b2;
// $color-light2: #59d5bc;
// $color-light1: #63d1bb;
$color-light: #62d1ba;

$black: #000000;

$white: #ffffff;
$color-sundark: #be9b38;
$color-sun: #d0ad4a;
$color-sunlight: #e7d6a4;


/*break-points*/

$mobile-only-width: 767px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
